<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100%">
        <mat-card class="input">
            <mat-card-content >
                <mat-card-title>Login</mat-card-title>
                <mat-form-field>
                    <input matInput placeholder="What's your name?">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="What's your name?">
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="login()">Login</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>